# IDEA配置文件
.idea/

# VSCode配置
.vscode/
*.code-workspace

# 构建产物
app/build/
build/

# 依赖库
app/libs/

# 日志和临时文件
logcat.txt
.DS_Store
/captures

# Gradle相关
*.iml
.gradle/
/local.properties

# Android Studio相关
.externalNativeBuild
.cxx

#课表信息不提交
courses/
